.piedepagina{
    div{
        a{
            img{
                width: 64px; 
                height: 64px;
                transition: 1s;
            &:hover{
                transform: scale(1.2);
            }
            }
        }
    }
    p{
        margin: 5px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

}